<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>project</key>
	<string>ArenaDeviceSDK</string>
	<key>namespace</key>
	<string>ArenaDeviceSDK</string>
	<key>supports</key>
	<array>
		<dict>
			<key>api</key>
			<string>arena.device.base.getUUID</string>
			<key>method</key>
			<string>uuid</string>
			<key>className</key>
			<string>Device</string>
			<key>async</key>
			<false/>
		</dict>
		<dict>
			<key>api</key>
			<string>arena.extra.version</string>
			<key>method</key>
			<string>appVersion</string>
			<key>className</key>
			<string>Device</string>
			<key>async</key>
			<false/>
		</dict>
		<dict>
			<key>api</key>
			<string>arena.biz.util.scan</string>
			<key>method</key>
			<string>scanQRCode:</string>
			<key>className</key>
			<string>Device</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>api</key>
			<string>arena.biz.util.photo</string>
			<key>method</key>
			<string>takePhoto:</string>
			<key>className</key>
			<string>Device</string>
			<key>async</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
