<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArenaDeviceSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>638EC2021F9B1B6300EABC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>638EC20B1F9B1B6300EABC2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>639DF4361F9DD7090073D79F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
